body {
    background: #f7f7f7;
    font-family: Arial, Verdana;
    max-width: 700px;
    display: table;
    margin: auto;
}
.title, .subtitle, p, .post-title{
    color: black;
}
a{
    text-decoration: none;
    color: blue;
}
.photo{
    width: 128px;
    height: 128px;
    border: 3px solid black;
    border-radius: 50%;
    background: black;
}
.title{
    font-size: 40px;
    margin-bottom: 30px;
}
.subtitle{
    margin-bottom: 70px;
}
.social-media{
    height: 50px;
    margin: 0;
    max-width: 300px;
    float: right;
}
.icon{
    width: 32px;
    height: 32px;
    flex-direction: row;
    float: right;
    list-style: none;
}
.post {
    background: #dedede;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post-title{
    margin-bottom: 20px;
}
.post-image{
    margin-bottom: 15px;
    width: 100%;
}