

body{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#text-input, #text-output{
    width: 400px;
    height: 200px;
    resize: none;
}

#encrypt-button, #decrypt-button{
    min-width: 80px;
}

@media(max-width: 430px){
    #text-input, #text-output{
        width: 250px;
        height: 150px;
    }
}