@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    color: white;
}
body{
    word-break: break-word;
    background-color: rgb(45,44,50);
    width: 100%;
    margin: auto;
}
article, .subtitle-box{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/* .title, .subtitle, p, .post-title{} */

p{
    font-size: 18px;
}
a{
    color: aqua;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0);
    background-image: linear-gradient(to right, rgb(131, 5, 131), rgba(228, 228, 228, 0));
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
}
.title-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    margin: 0 10px;
}
.title{
    font-size: 35px;
    text-align: left;
}
.subtitle{
    text-align: center;
}
.post-title{
    text-align: center;
    margin-bottom: 20px;
}
.social-media {
    margin-right: 5px;
}
.social-media-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
}
.icon{
    width: 32px;
}
.post {
    background-color: rgb(30,30,30);
    padding: 15px;
    border: 3px solid;
    border-image: linear-gradient(to bottom, rgb(72, 8, 102), rgb(243, 39, 39)) 1;
    margin-bottom: 15px;
    border-radius: 5px;
}
.link-imagem{
    display: flex;
    justify-content: center;
}
.post-image{
    margin-bottom: 15px;
    width: 70%;
}
.post-text{
    text-indent: 10px;
}
@media(max-width: 580px){
    .icon{
        width: 24px;
    }
    article, .subtitle-box{
        max-width: 80%;
    }
    .post-image{
        width: 100%;
    }
}